@forward "./media";

@mixin flex($justify: normal, $align: normal, $direction: row, $gap: initial, $wrap: nowrap) {
	display: flex;
	@if $justify {
		justify-content: $justify;
	}
	@if $align {
		align-items: $align;
	}
	@if $direction {
		flex-direction: $direction;
	}
	@if $gap {
		gap: $gap;
	}
	@if $wrap {
		flex-wrap: $wrap;
	}
}

@mixin title-font() {
	font-family: "Fustat", "Pretendard", sans-serif;
}

@mixin basic-layout($padding: false, $max-width: false) {
	width: calc(100% - 8em);
	margin: 0 auto;
	@media screen and (max-width: 768px) {
		width: calc(100% - 2em);
	}
	@if $padding {
		padding: 192px 0;
	}
	@if $max-width {
		max-width: 1490px;
	}
}

@function calc-width($col) {
	@return 96 * $col - 16;
}

@function calc-vh($value) {
	@return calc($value * var(--vh, 1vh));
}
