@use "../utils" as *;

.home {
	.ct-section-inner-wrap {
		max-width: 100%;
	}
	&-intro {
		position: relative;
		display: flex;
		box-sizing: border-box;
		width: calc(100% - 8em);
		height: 100svh;
		padding: 4em 0;
		margin: 0 auto;
		text-transform: capitalize;
		@include media-tablet {
			width: calc(100% - 2rem);
		}
		&__main-typo {
			position: absolute;
			width: 100%;
		}
		&__content {
			@include title-font();
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			align-self: flex-end;
			position: relative;
			max-width: 1490px;
			width: 100%;
			margin: 0 auto;
			z-index: 0;
		}
		&__item {
			opacity: 0;
			flex: 0 0 50%;
			min-width: 6em;
			@include media-tablet {
				font-size: 0.85rem;
			}
		}
		&__info {
			display: flex;
			gap: 1.5em;
			flex: 0 0 40%;
			@include media-tablet {
				flex: 0 0 100%;
			}
		}
		&__title {
			font-size: 1.5em;
			color: var(--main-color);
			strong {
				font-weight: 700;
			}
			@include media-tablet {
				font-size: 1rem;
			}
		}
		&__sub-copy {
			color: var(--main-color);
			flex: 0 0 10%;
			text-align: right;
			@include media-tablet {
				display: none;
			}
		}
	}
	&-introduce {
		&__row {
			flex-direction: column;
			&--profile {
				flex: 0 0 50%;
			}
			&--content {
				flex: 0 0 30%;
			}
			h2 {
				color: var(--secondary-color);
				font-weight: 700;
				font-size: 1.75em;
				margin-bottom: 1em;
			}
			p {
				margin-bottom: 1em;
			}
		}
	}
	&-title {
		@include title-font;
		display: flex;
		gap: 4em;
		align-items: center;
		@include media-tablet {
			justify-content: space-between;
		}
		&__head {
			font-weight: 500;
			color: var(--main-color);
			font-size: 4rem;
			line-height: 1;
			@include media-desktop {
				font-size: 6rem;
			}
			@include media-tablet {
				font-size: 2.25rem;
			}
		}
		&__body {
			font-weight: 700;
			color: var(--secondary-color);
			font-size: 1.5rem;
			@include media-desktop {
				font-size: 2rem;
			}
			@include media-tablet {
				font-size: 1rem;
			}
		}
	}
	&-competencies {
		@include title-font;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4em;
		&__item {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 1.5em;
			opacity: 0;
			@include media-desktop {
				flex-direction: row;
			}
		}
		&__index {
			font-weight: 200;
			font-size: 1.75em;
			flex: 0 0 10%;
		}
		&__title {
			font-weight: 500;
			font-size: 4em;
			line-height: 1;
			text-transform: capitalize;
			color: var(--secondary-color);
			flex: 0 0 40%;
			@include media-tablet {
				font-size: 2.5rem;
			}
		}
		&__desc {
			font-size: 1.25em;
			flex: 0 0 30%;
			@include media-tablet {
				font-size: 1rem;
			}
		}
	}
	&-project {
		display: flex;
		width: 100%;
		overflow: hidden;
		@keyframes loop-gallery {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(-50%);
			}
		}
		&__wrapper {
			width: auto;
			display: flex;
			gap: 0;
			animation: loop-gallery 20s infinite linear;
		}
		&__item {
			& {
				width: 22.125em;
				aspect-ratio: 2/3;
				padding: 0 0.75em;
				box-sizing: content-box;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&-container {
				width: 100%;
				display: flex;
				gap: 0;
			}
		}
	}
	&__content {
		max-width: 1490px;
		width: calc(100% - 2rem);
		padding: 4rem 0;
		margin: 0 auto;
		@include media-desktop {
			width: calc(100% - 8em);
			padding: 192px 0;
		}
		&-wrapper {
			width: 100%;
			display: flex;
			gap: 8em 1.5em;
			flex-direction: column;
			@include media-tablet {
				gap: 2rem;
			}
			&--row {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				@include media-tablet {
					flex-direction: column;
				}
			}
		}
	}
}
.sticky-effect {
	height: 400svh;
	padding: 0;
	&__content {
		position: sticky;
		top: 0;
		justify-content: center;
		height: 100svh;
	}
}
#home-calligraphy {
	width: 100%;
	height: 100%;
	max-height: 100svh;
}

.all-project {
	transition: transform 0.3s;
	will-change: transform;
	&:hover {
		transform: translateX(15px);
	}
}
