@use "../utils" as *;

.works {
	& > .ct-section-inner-wrap {
		padding: 8em 0 12em;
	}
	&__wrapper {
		& {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.75em;
		}
		@include media-desktop {
			gap: min(128px, 6vw);
			grid-template-columns: repeat(14, 1fr);
		}
		@include media-tablet-landscape {
			gap: 64px;
		}
	}
	&-card {
		& {
			border-radius: 1em;
			width: 100%;
			height: fit-content;
			padding-bottom: 135%;
			position: relative;
			overflow: hidden;
		}
		@include media-desktop {
			grid-column-end: span 4;
			&:nth-child(6n - 4) {
				margin-top: 128px;
			}
			&:nth-child(6n - 3) {
				margin-top: 64px;
				grid-column-start: 9;
			}
			&:nth-child(6n - 2) {
				margin-top: 128px;
				grid-column-start: 3;
			}
			&:nth-child(6n - 1) {
				grid-column-start: 7;
			}
			&:nth-child(6n) {
				margin-top: 64px;
				grid-column-start: 11;
			}
		}
		&__content {
			width: 100%;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			gap: 0.75em;
			color: var(--secondary-color);
			background-image: linear-gradient(180deg, rgba(#150505, 0.8), transparent);
			padding: 2em 2em 10em;
			position: absolute;
			top: 0;
			text-transform: capitalize;
			@include media-tablet {
				padding: 1.5rem 1.5rem 6rem;
			}
		}
		&__background {
			position: absolute;
			top: 25%;
			width: 100%;
			height: 150%;
			object-fit: cover;
		}
		&__info {
			& {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 1em;
			}
			&-item {
				flex-shrink: 0;
			}
		}
		&__hr {
			background-color: var(--secondary-color);
			width: 100%;
			height: 0.5px;
			outline: 0px;
			border: 0px;
		}
		&__title {
			text-align: left;
			font-size: 1.5em;
			font-weight: 700;
			word-break: keep-all;
			color: var(--main-color);
		}
	}
}
