@use "../utils" as *;

:root {
	--single-work-row: clamp(38.961039%, 600px, 40%);
	--single-work-large-row: clamp(49.09%, 756px, 45%);
}

.single-work {
	& > .ct-section-inner-wrap {
		display: flex;
		flex-direction: column;
		max-width: 1540px;
		margin: 0 auto;
		padding: 0;
	}
	.ct-inner-content {
		display: flex;
		flex-direction: column;
		gap: 256px;
		padding: 8em 0 12em;
		overflow-x: hidden;
	}
	&-intro {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100svh;
		&__wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 84%;
		}
		&__column {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 0.5em;
			@include media-desktop {
				gap: 1.5em;
			}
			&--bottom {
				align-items: flex-end;
			}
			@include media-desktop() {
				flex-direction: row;
				&--bottom {
					align-items: initial;
				}
			}
		}
	}
	&-title {
		flex: 0 0 50%;
		font-family: "Fustat", "Pretendard", sans-serif;
		font-weight: 500;
		font-size: min(96px, 7vw);
		line-height: 1.1;
		text-transform: capitalize;
		color: var(--main-color);
		span {
			display: inline-block;
		}
		@include media-tablet() {
			flex: 0 1 100%;
		}
	}
	&-category {
		flex-shrink: 0;
		font-family: "Fustat", "Pretendard", sans-serif;
		font-weight: 400;
		font-size: min(72px, 4vw);
		line-height: 1.1;
		text-transform: capitalize;
		color: var(--tertiary-color);
		width: auto;
	}
	&-info {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		gap: 1.5em;
		align-content: flex-end;
		margin-bottom: 2rem;
		@include media-desktop {
			margin-bottom: 0;
		}
		&__item {
			font-size: 0.8rem;
			flex: 0 0 min(144px, 25%);
			overflow: hidden;
			@include media-desktop {
				font-size: 1rem;
			}
			&-wrapper {
				flex-direction: column;
				height: 100%;
			}
		}
		&__title {
			font-weight: 700;
			color: var(--main-color);
			line-height: 2;
			&--explore {
				display: flex;
				align-items: center;
				gap: 0.25em;
				&:after {
					content: "";
					display: inline-block;
					width: 1.25em;
					height: 1.25em;
					background-image: url('data:image/svg+xml,%3Csvg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11.25 2.25H15.75V6.75" stroke="%23E8834D" stroke-linecap="square"/%3E%3Cpath d="M7.5 10.5L15 3" stroke="%23E8834D" stroke-linecap="square" stroke-linejoin="round"/%3E%3Cpath d="M13.5 9.75V15.75H2.25V4.5H8.25" stroke="%23E8834D" stroke-linecap="square"/%3E%3C/svg%3E');
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
		}
	}
	&-thumbnail {
		width: var(--single-work-large-row);
		height: 30em;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		@include media-tablet() {
			width: 100%;
		}
	}
	&-content {
		&__column {
			display: flex;
			justify-content: space-between;
			@include media-tablet {
				flex-direction: column;
				gap: 1rem;
			}
			img {
				border-radius: 1rem;
			}
		}
		&__item {
			width: var(--single-work-row);
			font-size: 1.25em;
			line-height: 1.5;
			@include media-tablet {
				width: 100%;
				.ct-text-block {
					margin: 2rem 0;
				}
			}
			&--center {
				align-self: center;
			}
			&--bottom {
				align-self: end;
			}
			&--large {
				width: var(--single-work-large-row);
				@include media-tablet {
					width: 100%;
				}
			}
		}
	}
}
