@use "../utils" as *;

:root {
	--background-color: #290505;
	--main-color: #e8834d;
	--secondary-color: #c26a3e;
	--tertiary-color: #ac0c0c;
	--text-color: #ae8873;
}

body {
	word-break: keep-all;
	font-family: "pretendard", sans-serif;
	font-size: min(3vw, 16px);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	word-break: keep-all;
	margin: 0;
}

span {
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

ol,
ul {
	list-style: none;
}

.wrapper {
	color: var(--text-color);
	background-color: var(--background-color);
}

.section {
	.ct-section-inner-wrap {
		display: flex;
		flex-direction: column;
		max-width: 1490px;
		width: calc(100% - 12em);
		margin: 0 auto;
		padding: 3em 0;
		@include media-tablet {
			width: calc(100% - 2rem);
		}
	}
	&--wide {
		.ct-section-inner-wrap {
			max-width: none;
		}
	}
}

.animation-wrapper {
	overflow: hidden;
	height: fit-content;
}

.aside {
	@include title-font();
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: 100svh;
	&--left {
		left: 0;
		.aside__wrapper {
			transform: rotate(-90deg);
		}
	}
	&--right {
		right: 0;
		.aside__wrapper {
			transform: rotate(90deg);
		}
	}
	&__wrapper {
		display: flex;
		gap: 2em;
		white-space: nowrap;
	}
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100dvh;
	position: fixed;
	z-index: 10000;
	background: var(--background-color);
	&--done {
		visibility: hidden;
		display: none;
	}
	&__word {
		&-wrapper {
			width: auto;
			position: absolute;
			overflow: hidden;
		}
		&--strong {
			color: var(--main-color);
			font-size: 1.75em;
			font-weight: 700;
		}
	}
}
